@model FITApplication.Models.Client

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 m-5 py-5">
            <table class="table">
                <tr>
                    <th>
                        Client details
                    </th>
                    <th>
                        
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Surname)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Age)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Weight)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Weight)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Height)
                    </td>
                </tr>
            </table>
            
            <p>
                <a href="/Programs" class="btn btn-outline-danger my-4">Back</a>
            </p>
        </div>
    </div>
</div>