@using FITApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 border border-1 border-dark m-5 text-center py-5">
            <h1>LOGIN</h1>
            <section id="loginForm" class="my-4">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group ">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col px-5">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col text-center px-5">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger list-unstyled" })
                    <div class="form-group">
                        <div class="col">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col">
                            <input type="submit" value="LOGIN" class="btn btn-dark my-4 btn-sm px-5" />
                        </div>
                    </div>
                    @Html.ActionLink("Register as a new user", "Register", "Account", null, new { @class = "btn btn-dark mb-4 btn-sm px-5" })

                    @* Enable this once you have account confirmation enabled for password reset functionality
            <p>
                @Html.ActionLink("Forgot your password?", "ForgotPassword")
            </p>*@
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}