@model FITApplication.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 m-5 py-5">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>@ViewBag.Title.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col control-label" })
                    <div class="col">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col control-label" })
                    <div class="col">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col control-label" })
                    <div class="col">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col">
                        @Html.ActionLink("Back", "Index", "Manage", null, new { @class = "btn btn-danger btn-sm px-4" })
                        <input type="submit" value="Change password" class="btn btn-dark my-4 btn-sm px-5" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
