@model FITApplication.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-6 m-5 py-5">
            <table class="table">
                <tr>
                    <th>
                        Change your account settings
                    </th>
                    <th>
                        @Html.ActionLink("Change", "Edit", "Clients", new { id = ViewBag.client.ClientID }, new { @class = "btn btn-danger btn-sm px-4" })
                    </th>
                </tr>
                <tr>
                    <td>
                        First Name:
                    </td>
                    <td>
                        @ViewBag.client.Name
                    </td>
                </tr>
                <tr>
                    <td>
                        Last Name:
                    </td>
                    <td>
                        @ViewBag.client.Surname
                    </td>
                </tr>
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        @ViewBag.client.Email
                    </td>
                </tr>
                <tr>
                    <td>
                        Age:
                    </td>
                    <td>
                        @ViewBag.client.Age
                    </td>
                </tr>
                <tr>
                    <td>
                        Weight:
                    </td>
                    <td>
                        @ViewBag.client.Weight
                    </td>
                </tr>
                <tr>
                    <td>
                        Height:
                    </td>
                    <td>
                        @ViewBag.client.Height
                    </td>
                </tr>
                <tr>
                    <td>
                        Password:
                    </td>
                    <td>
                        [
                        @if (Model.HasPassword)
                        {
                            @Html.ActionLink("Change your password", "ChangePassword")
                        }
                        else
                        {
                            @Html.ActionLink("Create", "SetPassword")
                        }
                        ]
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
